* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin blackBtn {
    color: #fff;
    background-color: #000000;
}

@mixin subtitle {
    margin-bottom: 15px;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

$colorGrey: #7c7c7b;

body {
    height: 100vh;
    font-family: 'ubuntu', sans-serif;
    background-color: #ffffff;
    // font-size: 62.5%;
}
// HEADER 
header {
    position: relative;
    top: 0;
    height: 30px;
    width: 100%;
    background-color: rgb(39, 31, 31);
}

.head {
    &__bar {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    }
    
    &__icon {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-right: 10px;
        font-size: 20px;
        color: #ffffff;
    }

    &__p {
        right: 30%;
        line-height: 30px;
        font-size: 10px;
        padding-right: 30px;
        color: #ffffff;
        font-weight: bold;
    }
}
// MAIN
main {
    margin: 30px;
}
.logo {
    display: flex;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: flex-end;
}
img {
    position: relative;
    height: auto;
    width: 200px;
    right: 30px;
}

.btns {
    display: flex;    
}
.btn {
    height: 40px;
    width: 150px;
    border: 1px solid black;    
    font-size: 14px;
    font-weight: bold;
}

.submit {
    @include blackBtn;
}

.save {
    color: $colorGrey;
    background-color: #fff;
}
#form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 30px;
}

.form {
    margin-bottom: 45px;
}

input {
    height: 46px;
    width: 100%;
    border: 1px solid #a8a8a7;
    color: #a8a8a7;
    font-family: inherit;
    font-size: 16px;
}

.form__input-long {
    width: 100%;
}

.form__input-short {
    display: flex;
    justify-content: space-between;    
    .short {
        width: 48%;
    }
}

.form__input-medium {
    width: 75%;    
    button {
        position: absolute;
        height: 46px;
        width: 100px;
        @include blackBtn;
    }
}
    
input[type=text] {
    padding-left: 10px;
    line-height: 46px;
}

input:focus {
    border: 1px solid black;
    color: black;
}

input:invalid + label {
    border: 1px solid #d91e19;
    color: #d91e19;
}

label {
    display: flex;
    @include subtitle;
    margin-top: 45px;
}

// ATTACHMENTS
.attachments {
    margin-top: 15px;
    margin-bottom: 45px;

    .att-title {
        @include subtitle;
    }
    .att {
        @include blackBtn;
        margin-right: 15px;
    }
    .description {
        margin-top: 15px;
        font-size: 14px;
        color: $colorGrey;
    }
    button {
        width: 170px;
    }
}
// CHECKBOX
.checkboxes {
    display: flex;
    align-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
    
    .checkbox:disabled {
        background-color: #ffffff;
        border-color: #dadada;
    }
    
    .check-title {
        margin: 15px;
    }
}

.check {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    
    .checkbox {
        margin-right: 15px;
        height: 30px;
        width: 30px;
        border: 1px solid black;
        border-radius: 0;
        appearance: none;
    }

    input:checked {
        border: 1px solid #000000;
        background-color: #000000;
    }
}

// TEXTAREAS
.ta-long {
    width: 75%;
    margin-bottom: 60px;
    textarea {
        min-height: 70px;
        max-height: 131px;      
        min-width: 100%;
        max-width: 100%;
        border: 1px solid #a8a8a7;
        color: #a8a8a7;
        font-family: inherit;
        font-size: 16px;
    }
    textarea[type=text] {
        padding-left: 10px;
        padding-right: 20px;
        padding-bottom: 4px;
        padding-top: 15px;
        color: #000000;
    }
    textarea::-webkit-scrollbar-track {
        background-color: #ffffff;
    }

    textarea::-webkit-scrollbar {
        width: 15px;
        background-color: #ffffff;
    }

    textarea::-webkit-scrollbar-thumb {
        background-color: #7c7c7b;
    }
    .button-box {
        display: flex;
        height: 100%;
        justify-content: flex-end;
    
        button {
            @include blackBtn;
            height: 40px;
            width: 150px;
            border: 1px solid black;    
            font-size: 14px;
            font-weight: bold;
        }
    }
}
// BUTTONS
.buttons {
    display: flex;
    margin-bottom: 60px;

    .btn-submission {
        height: 40px;
        width: 150px;
        border: 1px solid black;    
        font-size: 14px;
        font-weight: bold;
        margin-right: 15px;
    }
    .black {
        @include blackBtn;        
    }
    .white {
        background-color:#ffffff;        
    }
}

// TEXTAREAS
.ta-short {
    width: 75%;
    margin-bottom: 60px;
    appearance: none;
    textarea {
        min-height: 70px;
        max-height: 70px;      
        min-width: 100%;
        max-width: 100%;
        border: 1px solid #a8a8a7;
        color: #a8a8a7;
        font-family: inherit;
        font-size: 16px;
        
    }
    textarea[type=text] {
        padding-left: 10px;
        padding-right: 20px;
        padding-bottom: 4px;
        padding-top: 15px;
        color: #000000;
    }
    

    textarea::-webkit-scrollbar-track {
        background-color: #ffffff;
    }

    textarea::-webkit-scrollbar {
        width: 15px;
        background-color: #ffffff;
    }

    textarea::-webkit-scrollbar-thumb {
        background-color: #7c7c7b;
    }

    button {
        @include blackBtn;
        position: relative;
        height: 40px;
        width: 150px;
        margin-top: 15px;
        margin-bottom: 90px;
        border: 1px solid black;    
        font-size: 14px;
        font-weight: bold;
    }
}
// DATALIST
datalist {
    appearance: none;
}


// FOOTER 
footer {
    width: 100%;
    height: 200px;
    background-color: #000000;
    font-size: 14px;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;

    .footer-top {
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
        p {
            padding-right: 30px;
        }
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        p {
            padding-bottom: 30px;
        }
    }

    img {
        position: absolute;
    }

    hr {
        height: 1px;
        border: 0;
        background-color: #ffffff;
    }

}

.popup {    
    height: 50vh;
    width: 100%;
    margin: 30px;
    background-color: #ffffff;
    .subtitle {
        margin-top: 60px;
    }
    .popup-boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .select-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 30px 120px 0;
        .check {
            label {
                margin: 15px auto;
            }
        }

        button {
        position: relative;
        height: 40px;
        width: 170px;
        margin-top: 15px;
        margin-bottom: 15px;
        align-items: flex-end;
        border: 1px solid black;    
        font-size: 14px;
        font-weight: bold;
        background-color: #fff;
        }
    }
}



